<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">

</head>
<body>
    <h1>Confirm Delete</h1>
        <a href="{% url 'list_cord' %}"><button class="btn btn-dark">Cancel</button></a>
    <form method="post">
        {% csrf_token %}
        <button class="btn btn-danger" type="submit">Confirm</button>
        
    </form>


</body>